<% include ../partials/header %>
<script> var products = <%- JSON.stringify(products) %> </script>
<div class="container">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#order" aria-controls="profile" role="tab"
                                                      data-toggle="tab">Order</a></li>


            <li role="presentation"><a href="#orderinfo" aria-controls="messages" role="tab"
                                       data-toggle="tab">Order Information</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="order">
                <div class="row">
                    <div class="col-lg-8">
                        <table class="table table-hover">
                            <% products.forEach(function(product){ %>
                            <tr>
                                <td><%= product.ordernumber %></td>
                                <td><%= product.name %></td>
                                <td><%= product.description %></td>
                                <td style="width: 75px"><%= product.price %> €</td>
                                <td>
                                    <button type="button" class="btn btn-primary"
                                            onclick="addOrderlist('<%= product._id %>')">
                                        Add to Order
                                    </button>
                                </td>
                            </tr>
                            <% }); %>
                        </table>
                    </div>
                    <div class="col-lg-4">

                        <p>Ordered Products</p>
                        <table class="table table-hover" id="ordertable" style="font-size: 12px;">
                        </table>

                        <p>Total: <span id="sum">0.00</span>€</p>
                        <form action="/customers/<%= customer._id %>/orders" id="orderform" method="post">
                                <textarea name="info" rows="4" class="form-control" placeholder="Additional Info"></textarea>
                            <br>

                            <button class="btn btn-success">Order</button>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="orderinfo">
                Order Info Route and some other stuff times
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="/js/order.js"></script>
<% include ../partials/footer %>